h3{
    text-align: center;
    margin-bottom: 60px;
}

.details{
    display: flex;
    flex-direction: row;
}

img{
    width: 50%;
    margin-right: 50px;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p{
    font-style: italic;
}

.extinct{
    font-style: normal;
    font-size: 28px;
    font-weight: 700;
}

span{
    font-style: normal;
    font-weight: 600;
}

button{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 20px;

    &:hover, &:active{
        cursor: pointer;
        background-color: lightgreen;
    }
}

